.bundle
.DS_Store
log
tmp
config/database.yml
db/*.sqlite3
db/database.dump
public/test
public/development
public/files
config/unicorn.rb
config/initializers/session_store.rb
config/initializers/my_websites.rb
config/initializers/auth.rb
rerun.txt
vendor/gems
capybara*.html
feature/capybara*.html
public/apple-touch-icon.png
public/google*.html
vendor/
nohup.out

# Ignore master key for decrypting credentials and more.
/config/master.key
