.url
  = text_field_tag 'page[base_url]', @page.base_url, :maxlength => 255, :size => 29
  Base Url (use * for replacements)
  %br
  = text_field_tag 'page[url_substitutions]', @page.url_substitutions, :maxlength => 255, :size => 29
  Replacements: n-m or space separated
.parts
  = text_area_tag 'page[urls]', @page.urls, :rows => 4, :cols => 29
  Alternative to Base & Replacement (one Url per line)
