- content_for :title do
  = @title
.form
  - form_tag parts_path do
    = hidden_field_tag(:page_id, @page.id)
    = text_area_tag :url_list, @page.urls, :rows => @page.parts.size + 2, :cols => 80
    .button= submit_tag "Update"
