- content_for :title do
  = @title
.form
  = form_for @new_page do |f|
    = render :partial => "pages/create", :locals => {:page => @new_page, :called_by => "multiple", :tag => @tag, :author => @author }
    = f.submit "Store", :name => "Store"
