- part = @part if @part
- if defined?(subpart)
  %h3{:style=> "page-break-before:always", :class => "chapter"}= part.title
- else
  %h2{:style=> "page-break-before:always", :class => "chapter"}= part.title
.meta
  .tags= part.download_tag_string
  - unless part.notes.blank?
    .notes=raw part.formatted_notes

- if part.parts.blank?
  .content{:style=> "page-break-before:always"}
    =raw part.clean_html
- else
  - for subpart in part.parts
    %h4{:style=> "page-break-before:always"}= subpart.title
    =raw subpart.clean_html

