%h3{:style=> "page-break-before:always", :class => "chapter"} End Notes
.end_notes=simple_format page.end_notes if page.at_end
-if defined? links

  -if page.next_part
    %p.next
      Next:
      =link_to page.next_part.title, @url + download_url_for_page(page.next_part, ".html")

  -if page.ao3?
    %p.kudos
      Leave Kudos or Comments on:
      -if page.parts.any?
        =link_to page.title, page.parts.last.url + "#comments"
      -else
        =link_to page.title, page.url + "#comments"
  %p.rate
    = page.read? ? "ReRate: " : "Rate: "
    =link_to page.title, @url + rate_path(page)
