.notes{:style=> "page-break-after:always"}
  %b Notes:
  =simple_format page.notes
  -if page.hr1?
    %hr
  =simple_format page.my_notes
  -if page.hr2?
    %hr
  =simple_format page.end_notes unless page.at_end
