.tags=@page.download_tag_string
.my_notes=raw @page.my_formatted_notes
.notes=raw @page.formatted_notes

#page=raw @page.read_html
.form
  = form_for @page.becomes(Page) do
    = submit_tag "Audiobook created"
