%h1{:style=> "page-break-before:always", :class => "chapter_#{@page.title.sum}"}=link_to @page.title, @url + page_path(@page)
=render :partial => "downloads/notes", :locals => {:page => @page} if @page.show_notes

- if @page.parts.empty?
  .content=raw @page.epub_html
- else
  - @page.not_hidden_parts.each do |child|
    =render :partial => "downloads/h2", :locals => {:child => child}


=render :partial => "downloads/end_notes", :locals => {:page => @page, :last => true}
