- content_for :title do
  = @page.title
%h1{:style=> "page-break-before:always", :class => "chapter"}=link_to @page.title, page_path(@page)
-unless @page.notes.blank? && @page.my_notes.blank?
  =render :partial => "downloads/notes", :locals => {:page => @page}
- if @page.parts.empty?
  .content=raw @page.epub_html
- else
  - @page.not_hidden_parts.each do |first_level|
    %h2{:style=> "page-break-before:always", :class => "chapter"}=link_to first_level.download_part_title, page_path(first_level)
    =render :partial => "downloads/notes", :locals => {:page => first_level}
    - if first_level.parts.empty?
      .content=raw first_level.epub_html
    - else
      - first_level.not_hidden_parts.each do |second_level|
        %h3{:style=> "page-break-before:always", :class => "chapter"}=second_level.download_part_title
        =render :partial => "downloads/notes", :locals => {:page => second_level}
        - if second_level.parts.empty?
          .content=raw second_level.epub_html
        - else
          - second_level.not_hidden_parts.each do |third_level|
            %h4{:style=> "page-break-before:always", :class => "chapter"}=third_level.download_part_title
            =render :partial => "downloads/notes", :locals => {:page => third_level}
            .content=raw third_level.epub_html
