%h1{:style=> "page-break-before:always", :class => "chapter", :id => @page.header_id}=link_to @page.title, @url + page_path(@page)
=[@page.wip_string, @page.favorite_string].without("").join(", ")
=render :partial => "downloads/notes", :locals => {:page => @page.parent} if @page.parent && @page.parent.show_notes
=render :partial => "downloads/notes", :locals => {:page => @page} if @page.show_notes

- if @page.can_have_parts?
  - @page.not_hidden_parts.each do |child|
    =render :partial => "downloads/h2", :locals => {:child => child}
- else
  .content=raw @page.epub_html


=render :partial => "downloads/end_notes", :locals => {:page => @page, :last => true}
