#flash_notice   {
    border-width: 1px;
    background-color: #FF0;
    }
#flash_error   {
    border-width: 1px;
    background-color: #F00;
    }
.links    {
    border-width: 1px;
    background-color: #CCF;
    }
.form    {
    border-width: 1px;
    background-color: #CFF;
    }
.title    {
    border-width: 1px;
    background-color: #C9F;
    font-weight: bold;
    }
.genres    {
    border-width: 1px;
    background-color: #FCF;
    }
.last_read    {
    border-width: 1px;
    background-color: #9C9;
    }
.notes    {
    border-width: 1px;
    background-color: #FC9;
    }
.content    {
    border-width: 1px;
    background-color: #EEE;
    }
.node    {
    border-width: 1px;
    background-color: #990;
    }
.checkbox    {
    border-width: 1px;
    background-color: #FF9;
    }
.search    {
    border-width: 1px;
    background-color: #CFC;
    }
