#flash_notice {
    background-color: #FF0;
    }
#flash_alert {
    background-color: #F00;
    }
.fieldWithErrors {
    background-color: #F00;
    }
.gray-input {
    color: #7a7a7a;
}
.black-input {
    color: #000;
}
.links {
    background-color: #CCF;
    }
.form {
    background-color: #9FF;
    }
.page {
    border-width: 1px;
    border-style: solid;
    background-color: #FC9;
    }
.title {
    background-color: #CCF;
    font-weight: bold;
    }
.size {
    background-color: #A9F;
    }
.favorite {
    background-color: #E9F;
    }
.authors {
    background-color: #CFF;
    }
.genres {
    background-color: #C9F;
    }
.last_read {
    background-color: #F99;
    }
.notes {
    background-color: #FC9;
    }
.content {
    background-color: #EEE;
    }
.node {
    background-color: #990;
    }
.checkbox {
    background-color: #FF9;
    }
.part {
    background-color: #CFC;
    }
hr {
    border: 0;
    color: black;
    background-color: black;
    height: 3px;
    width: 80%;
}
page {
    font-family: Georgia,serif;
}
