# Be sure to restart your server when you modify this file.

module Curl
  module External
    def self.getpwd(original_url)
      case original_url
        when "http://www.rawbw.com/~alice/basic/test.html"
          "alice:nothingtosee"
        when "http://www.rawbw.com/~alice/digest/test.html"
          "alice:nothinghere"
      end
    end
    def self.geturl(original_url)
      case original_url
        when /livejournal/
          original_url + "?format=light&mode=reply"
        when /digest/
          original_url + "?auth=digest"
        else original_url
      end
    end
    def self.getnode(original_url, html)
      body = Nokogiri::HTML(html).xpath('//body').first
      keep = case original_url
        when /ejournal/, /dreamwidth/
          if body.at('//blockquote')
            body.at('//blockquote').next
          else
            body
          end
        when /fanfiction.net/
          body.at('div#storytext')
        when /archiveofourown/
          body.at('div.work-show')
        when /google/
          body.at('div#inbdy')
        else
          if body.children.to_s == body.at('div').to_s
            body.at('div')
          else
            body
          end
      end
      keep.children.map{|x| x.to_html.chomp}.join
    end
  end
end

