# Be sure to restart your server when you modify this file.

module Curl
  module External
    def self.getpwd(original_url)
      case original_url
        when "http://www.rawbw.com/~alice/basic/test.html"
          "alice:nothingtosee"
        when "http://www.rawbw.com/~alice/digest/test.html"
          "alice:nothinghere"
      end
    end
    def self.geturl(original_url)
      case original_url
        when /livejournal/
          original_url + "?format=light&mode=reply"
        when /digest/
          original_url + "?auth=digest"
        else original_url
      end
    end
    def self.getnode(original_url, html)
      body = Nokogiri::HTML(html).xpath('//body').first
      case original_url
        when /ejournal/, /dreamwidth/
          body.at('//blockquote').next.inner_html
        when /fanfiction.net/
          body.at('div#storytext').inner_html
        when /archiveofourown/
          body.at('div.work-show').inner_html
        else
          if body.children.to_s == body.at('div').to_s
            body.at('div').inner_html
          else
            body.inner_html
          end
      end
    end
  end
end

