# Be sure to restart your server when you modify this file.

module Curl
  module External
    def self.getpwd(original_url)
      case original_url
        when /sidrasue.com/
          "alice:nothingtosee"
      end
    end
    def self.geturl(original_url)
      case original_url
        when /livejournal/
          original_url + "?format=light&mode=reply&auth=digest"
        else original_url
      end
    end
    def self.getnode(original_url, html)
      case original_url
        when /livejournal/
          Nokogiri::HTML(html).xpath('//body').first.xpath('//div').first.inner_html
        else html
      end
    end
  end
end

