# Be sure to restart your server when you modify this file.

module MyWebsites

  def self.getpwd(url)
    case url
    when "http://test.sidrasue.com/basic/test.html"
      { :username => "alice", :password => "nothingtosee" }
    when "http://test.sidrasue.com/digest/test.html"
      { :username => "alice", :password => "nothinghere" }
    end
  end

end

