# Be sure to restart your server when you modify this file.

module MyWebsites

  def self.getpwd(url)
    case url
    when "http://localhost:8080/tests/basic/test.html"
      { :username => "alice", :password => "nothingtosee" }
    when "http://localhost:8080/tests/digest/test.html"
      { :username => "alice", :password => "nothinghere" }
    end
  end

end

