# Be sure to restart your server when you modify this file.

module MyWebsites
  def self.getpwd(url)
    case url
      when "http://test.sidrasue.com/basic/test.html"
        { :username => "alice", :password => "nothingtosee" }
      when "http://test.sidrasue.com/digest/test.html"
        { :username => "alice", :password => "nothinghere" }
    end
  end
  def self.geturl(url)
    case url
      when /livejournal/
        url = url + "?mode=reply" unless url.match("thread")
        url + "&format=light"
      when /archiveofourown/
        url + "?view_adult=true&view_full_work=true&style=light"
      when /wraithbait/
        url + "&chapter=all&action=printable"
      else url
    end
  end
  def self.getnode(url, body)
    return nil unless body
    case url
      when /ejournal/, /dreamwidth/
        if body.at('//blockquote')
          body.at('//blockquote').next.next
        else
          body
        end
      when /fanfiction.net/
        body.at('div#storytext')
      when /archiveofourown/
        body.at('div#feedback').remove if body.at('div#feedback')
        body.search(".landmark").each { |node| node.remove }
        body.search(".navigation").each { |node| node.remove }
        body.at('div.works-show')
      when /wraithbait/
        body.at('div#mainpage') || body
      when /google/
        body.at('div#inbdy')
      when /wraithbait/
        body.at('div.infobox').remove if body.at('div.infobox')
        body.search("div.toplink").each { |node| node.remove }
        body.search("div.chaptertitle").each do |node|
          node.name = 'h2'
          node.inner_html = node.inner_text.gsub(" by", '')
        end
        body.at('div#copyright').remove if body.at('div#copyright')
        body
      else
        body
    end
  end
end

