#flash_notice { background-color: #FF0; }
#flash_alert { background-color: #F00; }
.fieldWithErrors { background-color: #F00; }
.gray-input { color: #7a7a7a; }
.black-input { color: #000; }
.checkbox { background-color: #FF9; }
hr {
    border: 0;
    color: black;
    background-color: black;
    height: 1px;
    width: 70%;
}

.links { background-color: #CCF; }
.top { background-color: #DDD; }
.bottom { background-color: #444; }
.content { background-color: #EEE; }
.node { background-color: #990; }
.form { background-color: #9FF; }

.page {
    border-width: 1px;
    border-style: dotted;
    background-color: #FC9;
    }

.parent { background-color: #CFC; }
.title { background-color: #CCF; font-weight: bold; }
.views { background-color: #CCF; }
.edits { background-color: #C9F; }
.tags { background-color: #A9F; }
.fandoms { background-color: #9FF; }
.hiddens { background-color: #CCC; }
.omitteds { background-color: #F55; }
.authors { background-color: #CFF; }
.favorite { background-color: #E9F; }
.size { background-color: #C9F; }
.last_read { background-color: #F99; }
.my_notes { background-color: #F00; }
.notes { background-color: #FC9; }
.part {
    border-width: 1px;
    border-style: dotted;
    background-color: #CFC;
}

.part_links { background-color: #FCF; }
page { font-family: Georgia,serif; }
