#flash_notice { background-color: #FF0; }
#flash_alert { background-color: #F00; }
.gray-input { color: #7a7a7a; }
.black-input { color: #000; }
.float { display: inline; }
.indented {padding-left: 1em}
.bold { font-weight: bold; }

form.left { float:left;  }
form.right { float:right; }
.clear { clear: both;}

hr {
    border: 0;
    color: black;
    background-color: black;
    height: 1px;
    width: 70%;
}
.cons      { background-color: #F77; }
.rebuild   { background-color: #F77; }
.my_notes  { background-color: #F77; }

.title     { background-color: #CCF; }
.parent    { background-color: #CFC; }
.fandoms   { background-color: #CFC; }
.part      { background-color: #CFC; border-width: 1px; border-style: dotted;}
.parts     { background-color: #CFC; }
.type      { background-color: #CFF; }
.size      { background-color: #C9F; }
.top       { background-color: #DDD; }
.content   { background-color: #EEE; }
.last_read { background-color: #FCC; }
.part_links{ background-color: #FCF; }
.page      { background-color: #FC9; border-width: 1px; border-style: dotted;}
.notes     { background-color: #FC9; }
.infos     { background-color: #FFC; }
.sort_by   { background-color: #FF9; }
.end_notes { background-color: #FF9; }
.stars     { background-color: #F9F; }
.meta      { background-color: #F99; }
.tags      { background-color: #F99; }
.bottom    { background-color: #444; }
.hiddens   { background-color: #9CF; }
.pros      { background-color: #9FC; }
.links     { background-color: #9FF; }
.url       { background-color: #9FF; }
.form      { background-color: #9FF; }
.soon      { background-color: #9FF; }
.authors   { background-color: #99F; }
.node      { background-color: #990; }

page { font-family: Georgia,serif; }

/* possibles:  CCF, CFC, CFF, CF9, C9F
               FCC, FC9, FFC, FF9, F9C, F9F, F99
               9CF, 9FC, 9FF, 99F
*/

/* start with 9FF (aqua), 9CF (blue) & 9FC (green) are "analogous"
   F9F (pink) & FF9 (yellow) are "triad"
   99F (purple) & F99 (coral) & FF9 (yellow) are "tetrad" */

/* start with F99 (coral) FC9 (dust) & F9C (pink) are analogous */

/* start with CCF (light purple) FCC (flesh) & CFC (light green) are triad */

/* start with FC9 (dust) FF9 (yellow) & F99 ( coral) are analogous
   FC9 (light green) and C9F (purple) are triad
   CF9 (yellow green) 9CF (blue) and C9F (purple) are tetrad */

/* start with CFC (light green) CFF (light blue)  FCF (pink) & FCC (coral) are tetrad */
