.title
  = text_field_tag 'page[title]', @page.title, :size => 29
  Title
.my_notes
  = text_area_tag 'page[my_notes]', @page.my_notes, :rows => 1, :cols => 29
  My Notes
.notes
  = text_area_tag 'page[notes]', @page.notes, :rows => 1, :cols => 29
  Page Notes
