- content_for :title do
  = "Page create error"
.form
  = form_with model: @page.becomes(Page), local: true do |form|
    =render "tags/select"
    .soon=render "page_soon"
    =render "page_fields"
    .url
      =render "single_url"
      URL
    = form.submit "Store", :name => "Store"
  = button_to "Find", filter_path, method: :get, params: {url: @page.url}, form_class: "float"
