- content_for :title do
  = "Create One"
.form
  = form_for @page.becomes(Page) do |f|
    = render :partial => "pages/create", :locals => {:page => @page, :called_by => "new"}
    %br
    = f.submit "Store", :name => "Store"
