.content
  = form_for @page do |f|
    = f.submit "Confirm Text Edit"
    = hidden_field_tag(:section, @section_number)
    = hidden_field_tag(:new, @new)
%h2 Old
#original=raw @old
%h2 New
#edited=raw @new

