-title = "Edit my notes for #{@page.title}"
-content_for(:title, title)
.title=title
.notes
  = form_for @page do |f|
    = f.text_area :my_notes, :rows => 10, :cols => 33
    .button= f.submit "Update"
