login: &login
  adapter: mysql
  host: localhost
  encoding: utf8
  username: root
development:
  <<: *login
  database: mobile_dev
production:
  <<: *login
  database: mobile_prod
test: &TEST
  <<: *login
  database: mobile_test
cucumber:
  <<: *TEST
