%p
  The tag
  =surround '"' do
    =@tag.name
  currently has
  =@tag.pages.count
  ='page'.pluralize(@tag.pages.count)
  associated with it.
  =link_to_tag_pages @tag, "view affected pages"

%p
  Are you sure you want to destroy it?
%p
  = button_to "Yes", @tag, :method => :delete
