%p
  The tag
  =surround '"' do
    =@tag.name
  currently has
  =@tag.pages.count
  pages associated with it.
%p
  Are you sure you want to destroy it?
%p
  = button_to "Yes", @tag, :method => :delete
