-Tag.types.each do |type|
  -count = type.constantize.count
  %p
    =link_to "#{count} #{type.pluralize(count)}", type.downcase.pluralize
    %br
    =link_to "#{type.downcase} by popularity", type.downcase.pluralize+"?sort=by_popularity"
    %br
    =link_to "#{type.downcase} by creation", type.downcase.pluralize+"?sort=by_creation"
