- content_for :title do
  = "Select tags for " + @page.title
.title
  Select tags for
  = link_to @page.title, page_path(@page)
-if @page.parent
  .tags
    =link_to "Parent", page_path(@page.parent)
    tags:
    =@page.parent.tags.by_type.by_name.joined
.form
  = form_tag tags_path do
    =render "update"
    =render "add"
