-title="Edit scrubbed html for #{@page.title}"
-content_for(:title, title)
%h1=title
.content
  = form_for @page do |f|
    = f.submit "Edit HTML"
    = text_area_tag :pasted, @page.scrubbed_html, :rows => 10, :cols => 33
