Feature: omit selected

Scenario: test before omitted
  Given a page exists with readers: "my reader" AND title: "Page 1"
    And a page exists with readers: "my reader" AND title: "Page 2" AND infos: "audio available"
    And a page exists with readers: "my reader" AND title: "Page 3" AND pros: "favorite"
  When I am on the filter page
    And I click on "show_readers_all"
    And I select "audio available"
    And I press "Find"
  Then I should see "Page 2"
    But I should NOT see "Page 1"
    And I should NOT see "Page 3"

Scenario: omit one selected
  Given a page exists with readers: "my reader" AND title: "Page 1"
    And a page exists with readers: "my reader" AND title: "Page 2" AND infos: "audio available"
    And a page exists with readers: "my reader" AND title: "Page 3" AND pros: "favorite"
  When I am on the filter page
    And I click on "show_readers_all"
    And I select "audio available"
    And I click on "selected_infos_exclude"
    And I press "Find"
  Then I should see "Page 1"
    And I should see "Page 3"
    But I should NOT see "Page 2"

Scenario: test before omitted
  Given a page exists with readers: "my reader" AND title: "Page 1"
    And a page exists with readers: "my reader" AND title: "Page 2" AND infos: "audio available"
    And a page exists with readers: "my reader" AND title: "Page 3" AND pros: "favorite"
  When I am on the filter page
    And I click on "show_readers_all"
    And I select "audio available"
    And I select "favorite"
    And I press "Find"
  Then I should see "No pages found"
    And I should NOT see "Page 1"

Scenario: omit two selected
  Given a page exists with readers: "my reader" AND title: "Page 1"
    And a page exists with readers: "my reader" AND title: "Page 2" AND infos: "audio available"
    And a page exists with readers: "my reader" AND title: "Page 3" AND pros: "favorite"
  When I am on the filter page
    And I click on "show_readers_all"
    And I select "audio available"
    And I click on "selected_infos_exclude"
    And I select "favorite"
    And I click on "selected_pros_exclude"
    And I press "Find"
  Then I should see "Page 1"
    But I should NOT see "Page 2"
    And I should NOT see "Page 3"
